*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* color palette */
  --logo-web-color: #2196f3;
  --logo-studio-dark: #000000;
  --logo-studio-light: #ffffff;
  --bg-head-color: #ffffff;
  --bg-foot-color: #2f303a;
  --bg-body-color: #e5e5e5;
  --header-dark-color: #212121;
  --borders-color: #ececec;
  --btn-bg-accent-color: #2196f3;
  --btn-text-accent-color: #ffffff;
  --btn-bg-def-color: #f5f4fa;
  --btn-text-def-color: #212121;
  --btn-bg-hover-color: #188ce8;
}
.body {
  font-family: 'Roboto';
  color: #757575;
  background-color: var(--bg-body-color);
}
ul {
  list-style: none;
  margin: 0 auto;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin: 0px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-dark-color);
}
h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--header-dark-color);
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0px auto;
}
/* CSS HEADER =============================================*/
.header {
  background-color: var(--bg-head-color);
  width: 1600px;
  /* height: 80px; */
  padding: 0 20px;
  margin: 0 auto;
  border: 1px solid var(--borders-color);
}

.logo-web {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-web-color);
}
.logo-studio {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-studio-dark);
}
.nav {
  align-items: center;
}
.nav-list {
  gap: 50px;
}
.nav-item {
  text-decoration: none;
  align-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-dark-color);
}
.contacts {
  gap: 50px;
}
.contacts-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-item:hover,
.contacts-item:hover,
.nav-item:hover,
.button-filter:hover,
.contacts-item:focus,
.contacts-item:focus,
.nav-item:focus,
.button-filter:focus {
  background-color: var(--btn-bg-hover-color);
  color: var(--btn-text-accent-color);
  cursor: pointer;
}

/* блок замовити послугу=================================== */
.button-block {
  width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
  /* height: 600px; */
  background: var(--bg-foot-color);
}
.head-text-button {
  width: 700px;
  margin: 0px auto;
}
.button {
  width: 200px;
  height: 50px;
  padding: 0%;
  margin: 0px;
  border-radius: 4px;
  border-style: none;
  background-color: var(--btn-bg-accent-color);
  color: var(--btn-text-accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:hover {
  background-color: var(--btn-bg-hover-color);
  cursor: pointer;
}
.button:focus {
  background-color: var(--btn-bg-hover-color);
  cursor: pointer;
}

/* Наші особливості =========================================*/
.features {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 1600px;
  padding: 0 20px;
  margin: 0px auto;
}
.hidden-header {
  display: none;
}
.features-list {
  max-width: 1170px;
  padding: 0px;
  margin: auto;
}
.features-card {
  width: 270px;
  margin: 0px 30px;
}
.features-card-header {
  text-transform: uppercase;
}

/* Чим ми займаймося ========================================*/
.we-do {
  background-color: #ffffff;
  width: 1600px;
  padding: 0px 20px;
  margin: 0 auto;
}
.we-do-list {
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}
/* Наша команда =============================================*/
.team-block {
  width: 1600px;
  padding: 0px 20px;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}
.team-block > ul {
  margin: 0px auto;
  padding: 0px 0px;
}
.team {
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.team-card {
  width: 270px;
  padding: 0px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card > p {
  margin: 10px auto;
}
/* Підвал ===================================================*/
.footer {
  width: 1600px;
  height: 130px;
  padding: 0px 20px;
  margin: 0px auto;
  background-color: var(--bg-foot-color);
}
.logo-studio-footer {
  color: var(--logo-studio-light);
}
.address {
  list-style: normal;
  font-style: normal;
  text-decoration: none;
}
.footer-contacts-addr {
  margin-left: 250px;
  padding: 0px;
  color: #ffffff;
}
.footer-contacts {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
/* Стилі до сторінки Портфоліо  ============================*/
.portfolio-main {
  width: 1600px;
  padding: 94px 20px;
  margin: auto;
  background-color: #ffffff;
}
.sort-buttons {
  gap: 8px;
  width: 1600px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.button-filter {
  background-color: var(--btn-bg-def-color);
  color: var(--btn-text-def-color);
  width: 200px;
  height: 50px;
  padding: 0%;
  margin: 0px;
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.active-btn {
  background-color: var(--btn-bg-accent-color);
  color: var(--btn-text-accent-color);
}
.projects-list {
  width: 1600px;
  padding: 0px 0px;
  margin: 60px auto 0px auto;
  background-color: #ffffff;
  justify-content: center;
}
.projects-list-card {
  border: 1px solid var(--borders-color);
  margin: 15px;
  padding: 0px;
}
.projects-list-title {
  text-align: left;
  padding: 20px 24px;
}
